{{>layouts/header}}

<h1>관리자용 스터디 목록</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">제목</th>
        <th scope="col">스터디 종류</th>
        <th scope="col">신청 마감일</th>
        <th scope="col">수업 요일</th>
    </tr>
    </thead>
    <tbody>
    {{#posts}}
        <tr>
            <td><a href="/admin/{{id}}">{{title}}</a></td>
            <td>{{#studyType}}{{studyType}}{{/studyType}}{{^studyType}}미지정{{/studyType}}</td>
            <td>{{deadline}}</td>
            <td>{{#weekdayOrWeekend}}({{weekdayOrWeekend}}){{/weekdayOrWeekend}}</td>
        </tr>
    {{/posts}}
    </tbody>
</table>

<div style="display: flex; gap: 10px; margin-top: 20px;">
    <a href="/admin/new" class="btn btn-primary">스터디 생성</a>
    <button onclick="location.href='/admin/applications'" class="btn btn-secondary">신청자 목록</button>
</div>

</div>
{{>layouts/footer}}