{{>layouts/header}}
<h1>스터디 목록</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">제목</th>
        <th scope="col">스터디 종류</th>
        <th scope="col">신청 마감일</th>
        <th scope="col">수업 요일</th>
    </tr>
    </thead>
    <tbody>
    {{#posts}}
        <tr>
            <td><a href="/study/{{id}}">{{title}}</a></td>
            <td>{{#studyType}}{{studyType}}{{/studyType}}{{^studyType}}미지정{{/studyType}}</td>
            <td>{{deadline}}</td>
            <td>{{#weekdayOrWeekend}}({{weekdayOrWeekend}}){{/weekdayOrWeekend}}</td>
        </tr>
    {{/posts}}
    </tbody>
</table>

<div style="display: flex; gap: 10px; margin-top: 20px;">
    <button onclick="location.href='/study/test'" class="btn btn-primary">성향 테스트</button>
    <button onclick="location.href='/study/myStudy'" class="btn btn-secondary">나의 스터디 목록</button>
</div>
{{>layouts/footer}}