{{>layouts/header}}

<h2>가입한 스터디 목록</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">제목</th>
        <th scope="col">마감일</th>
        <th scope="col">상태</th>
    </tr>
    </thead>
    <tbody>
    {{#applications}}
        <tr>
            <td>{{studyPost.title}}</td>
            <td>{{studyPost.deadline}}</td>
            <td>{{studyPost.statusLabel}}</td>
        </tr>
    {{/applications}}

    {{^applications}}
        <tr>
            <td colspan="3" class="text-center">가입 신청한 스터디가 없습니다.</td>
        </tr>
    {{/applications}}
    </tbody>
</table>

<a href="/study" class="btn btn-primary">스터디 목록으로</a>
