{{>layouts/header}}

<div class="container mt-4">
    <h1>성향 테스트 결과: {{mbtiResult}}</h1>

    {{#recommendedByMbti.0}} <!-- 리스트에 요소가 하나라도 있을 때만 -->
        <div class="mt-4">
            <h4>MBTI 기반 추천 스터디</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>제목</th>
                    <th>스터디 종류</th>
                </tr>
                </thead>
                <tbody>
                {{#recommendedByMbti}}
                    <tr>
                        <td><a href="/study/{{id}}">{{title}}</a></td>
                        <td>{{studyType}}</td>
                    </tr>
                {{/recommendedByMbti}}
                </tbody>
            </table>
        </div>
    {{/recommendedByMbti.0}}

    {{#recommendedByCourseType.0}}
        <div class="mt-4">
            <h4>선택한 수업 종류 ({{courseTypeResult}}) 기반 추천 스터디</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>제목</th>
                    <th>수업 종류</th>
                </tr>
                </thead>
                <tbody>
                {{#recommendedByCourseType}}
                    <tr>
                        <td><a href="/study/{{id}}">{{title}}</a></td>
                        <td>{{courseType}}</td>
                    </tr>
                {{/recommendedByCourseType}}
                </tbody>
            </table>
        </div>
    {{/recommendedByCourseType.0}}

    {{#recommendedByPreferredDay.0}}
        <div class="mt-4">
            <h4>선호하는 요일 ({{preferredDayResult}}) 기반 추천 스터디</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>제목</th>
                    <th>요일</th>
                </tr>
                </thead>
                <tbody>
                {{#recommendedByPreferredDay}}
                    <tr>
                        <td><a href="/study/{{id}}">{{title}}</a></td>
                        <td>{{weekdayOrWeekendLabel}}</td>
                    </tr>
                {{/recommendedByPreferredDay}}
                </tbody>
            </table>
        </div>
    {{/recommendedByPreferredDay.0}}
</div>

<style>
    .table th:nth-child(2),
    .table td:nth-child(2) {
        width: 120px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

{{>layouts/footer}}